.substep-card {
  border: 1px var(--border-light) solid;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #171532, #08090d);
  backdrop-filter: blur(12px); /* md = 12px */
  border: 1px solid #374151; /* gray-700 */
  border-radius: 1rem; /* 2xl = 1rem */
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.substep-card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questions-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
  overflow-x: scroll;
}

.substep-heading {
 font-family: 'Mona Sans', 'Mona Sans Fallback', sans-serif;
  font-size: 1.2rem;
  width: 35%;
}

.substep-heading span {
  font-weight: 700;
  color: #dddfff;
}

.progress-bar-container {
  width: 35%;
  height: 1.5rem;
  background: var(--border-light);
  border-radius: 1rem;
  position: relative;
  max-width: 400px;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--secondary);
  border-radius: 1rem;
  transition: width 0.3s ease;
}
.progress-bar-container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 0.85rem;
  font-weight: 600;
}

.half-substep-complete {
  color: var(--secondary-text);
}

.toggle-btn {
  border: none;
  background: none;
  padding: 0.5rem;
  cursor: pointer;
}

@media screen and (max-width: 840px) {
  .substep-heading {
    font-size: 1.05rem;
  }

  .progress-bar-container {
    height: 1.25rem;
  }

  .questions-list {
    margin-top: 0.75rem;
    padding: 0.75rem;
    gap: 1rem;
  }
}

@media screen and (max-width: 760px) {
  .substep-heading {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .substep-heading {
    width: 45%;
  }
  .questions-list {
    padding: 0.75rem 0;
  }
}

@media screen and (max-width: 500px) {
  .progress-bar-container {
    width: 30%;
  }
}
