@font-face {
  font-family: 'Mona Sans';
  src: 
    url('https://github.githubassets.com/assets/MonaSans-Regular.woff2') format('woff2 supports variations'),
    url('https://github.githubassets.com/assets/MonaSans-Regular.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: 'Mona Sans Fallback';
  src: local('Arial');
  font-style: normal;
}

:root {
  --mock-grid-color: rgba(255,255,255,0.03);
  --mock-bg-dark: #000000;
  --mock-bg-overlay: rgba(10,8,18,0.6);
  --background: lab(2.75381% 0 0);
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
   background-color: var(--background) !important;
  background-image:url(https://mock-mate-three-delta.vercel.app/pattern.png);
  background-position: top;
  background-repeat: no-repeat;
  color: #ffffff;
  min-height: 100%;
  font-family: 'Mona Sans', 'Mona Sans Fallback', sans-serif !important; 
}
